body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #333;
  background-color: #fff;
  margin: 2rem;
}

.alignedElements {
  display: flex;
  align-items: center;
  gap: 2rem;
}
