.autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 2rem;
}

#autocomplete-input {
  background-color: #e0f0ff;
  padding: 6px 10px;
  font-size: 16px;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  width: 300px;
  box-sizing: border-box;
}

.position {
  position: relative;
  left: 21rem;
  top: -2.3rem;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #e0f0ff;
  text-align: left;
  max-width: 299px;
}

.autocomplete-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-item:before {
  content: "📍";
  margin-right: 5px;
}

.autocomplete-item:hover {
  background-color: #c9e4ff;
}

.clear-icon {
  transform: translateY(-50%);
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  color: #666;
  position: relative;
  top: 12px;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  color: #999999;
}

.clear-icon:hover {
  color: #333;
}
